<mat-toolbar class="top-nav">

    <span class="brand">iReporter</span>
    <span class="fill-remaining-space"></span>
    <span>Login</span>
    <span>Sign up</span>

</mat-toolbar>
<header class="banner">
  <div class="container">
    <div class='banner-title'> Welcome to <span>iReporter</span>!</div>
    <div class="banner-subtitle">Building a better nation starts with you</div>
    <a href='login.html'>
      <button class="banner-button">WHISTLE BLOW</button>
    </a>
  </div>
</header>
<footer class="main-footer">Copyright &copy;Kirega</footer>
